{% extends 'base.html' %}
{% block content %}
{% load static %}
<br><br><br>
<div class="feeds">
	{% for result in results %}
		<h3>{{result.nombre}}</h3>
		<br>
		Name:{{result.raza}}
		<br>
		<p id="{{result.id}}">
			{{result.descripcion}}
		</p>
		<hr>
	{% endfor %}
</div>
{% endblock %}